{% extends "!page.html" %}

{% block extrahead %}
    {{ super() }}
    <link rel="icon" sizes="192x192" href="/favicon-192.png" type="image/png">
{% endblock %}

{% block footer %}
<footer class="custom-footer">
  <div class="related-pages">
    {% if next -%}
      <a class="next-page" href="{{ next.link }}">
        <div class="page-info">
          <div class="context">
            <span>{% trans %}Next{% endtrans %}</span>
          </div>
          <div class="title">{{ next.title }}</div>
        </div>
        <svg class="furo-related-icon"><use href="#svg-arrow-right"></use></svg>
      </a>
    {%- endif %}
    {% if prev -%}
      <a class="prev-page" href="{{ prev.link }}">
        <svg class="furo-related-icon"><use href="#svg-arrow-right"></use></svg>
        <div class="page-info">
          <div class="context">
            <span>{% trans %}Previous{% endtrans %}</span>
          </div>
          {% if prev.link == pathto(master_doc) %}
          <div class="title">{{ _("Home") }}</div>
          {% else %}
          <div class="title">{{ prev.title }}</div>
          {% endif %}
        </div>
      </a>
    {%- endif %}
  </div>
  
  <hr>

  <p>{% trans %}Proyectos de Tecnología para el aula.{% endtrans -%}</p>

  <div role="contentinfo">
    <ul class="link-list">
    <li><a href="{{ pathto('index') }}">{% trans %}Portada{% endtrans -%}</a></li>
    <li><a href="{{ pathto('contacto') }}">{% trans %}Contacto{% endtrans -%}</a></li>
    <li><a href="{{ pathto('about') }}">{% trans %}Sobre Tecno Proyectos{% endtrans -%}</a></li>
    <li><a href="{{ pathto('genindex') }}">{% trans %}Glosario{% endtrans -%}</a></li>
    <li><a href="{{ pathto('content') }}">{% trans %}Mapa del sitio{% endtrans -%}</a></li>
    <li><a href="https://github.com/tecnoproyectos/tecnoproyectos" target="_blank">GitHub</a></li>
    </ul>
  </div>

  {% if meta and meta.author and meta.creation_year %}
  <p>Copyright &copy; {{ meta.creation_year}}, {{ meta.author }}.</p>
  {% else %}
  <p>Copyright &copy; 2026, {% trans %}Equipo de Tecno Proyectos.{%- endtrans %}</p>
  {% endif %}
  
  {% if meta and meta.license and meta.license_url %}
  <p>{% trans %}Los contenidos de esta página se distribuyen bajo licencia{% endtrans %}
  <a href={{ meta.license_url }} target="_blank">{{ meta.license }}</a>.</p>
  {% endif %}
  
  {% if meta and meta.modified %}
  <p>{% trans %}Actualizado por última vez en{% endtrans %} {{meta.modified}}.</p>
  {% endif %}

</footer>
{% endblock %}
